.DS_Store
.idea
.vscode
blobstore/.deps/
blobstore/bin/
build/bin
build/include/
build/lib/
build/out/
docker/bin
docker/docker_data
docker/log
docker/dist
docs/build
tmp/
console/html
vendor
java/target
java/src/main/resources/*.so
/cover.output
/cubefs_unittest.output
