// 配置文件

// 标题基准颜色
$title-color: #333;
// 文字基准颜色
$text-color: #666;
// 链接颜色
$link-color: #2fc29b;
// 链接hover颜色
$link-hover-color: #2fc29b;
// 全局文字基准大小
$base-text-size: 14px;
// 主题色
$theme-color: #2fc29b;
// 成功颜色
$color-success: #19be6b !default;
// 警告颜色
$color-warning: #ff9900 !default;
// 危险颜色
$color-danger: #ed4014 !default;
// 提示颜色
$color-info: #2db7f5 !default;
