# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ master, release-* ]
  pull_request:
    branches: [ master, release-* ]

jobs:

  ci-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build and run CI tests
        run: |
          docker/run_docker.sh -t
          docker/run_docker.sh -l
